# =========================================================
# 📦 BUILD
# =========================================================
__pycache__/
build/
dist/

# =========================================================
# 🔐 CONFIGURACIÓN SENSIBLE
# =========================================================
!.env.example
.env
.env.*

# =========================================================
# 💻 EDITORES
# =========================================================
.idea/
.vscode/

# =========================================================
# 🌱 ENTORNOS VIRTUALES
# =========================================================
.venv/
ENV/
env/
venv/

# =========================================================
# 🧰 HERRAMIENTAS Y LINTERS PRO
# =========================================================
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# =========================================================
# 🧠 NOTEBOOKS
# =========================================================
.ipynb_checkpoints/

# =========================================================
# 🔧 OTROS
# =========================================================
.python-version

# =========================================================
# 🐍 PYTHON
# =========================================================
*.db
*.egg-info/
*.log
*.py[cod]
*.pyd
*.pyo
*.so
*.sqlite3
*.swp

# =========================================================
# 🖥️ SISTEMA OPERATIVO
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# 🧪 TESTING
# =========================================================
.coverage
.pytest_cache/
htmlcov/
